# Server
PORT=8811
APP_NAME=Creator Card Microservice
APP_BASE_URL=http://localhost:8811

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/creator-cards

# Logging
PINO_LOG_LEVEL=info
SHOW_RAW_HEADERS=
LOG_APP_REQUEST=0
CAN_LOG_ENDPOINT_INFORMATION=

# Validator
NO_SINGLE_ERRORS=
TOP_LEVEL_ERROR_MESSAGE=

# Optional AWS Secrets Manager bootstrap
USE_SECRETS_MANAGER=
SECRETS_MANAGER_ID=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
